<div class="options">
    <fieldset>
        <legend class="sr-only">{{{question.prompt}}}</legend>
        
        {{#each question.options}}
        <label class="option schorm-option">
            <input type="radio"
                   name="question-{{../question.id}}"
                   value="{{id}}"
                   data-option-id="{{id}}">
            <span>{{{text}}}</span>
        </label>
        {{/each}}
    </fieldset>
</div>
